body
{
    background-color: whitesmoke;
}
.heading h1
{
    text-align: center;
    text-decoration: underline;
    font-weight: 100;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.7em;
    letter-spacing: 1.5px;
}
.container-fluid
{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    /*margin-bottom: 3%;*/
}
 img.lazy {
     width: 100%;
     height: auto;
     display: block;

     background-image: url('../gif.gif');
     background-repeat: no-repeat;
     background-position: 50% 50%;
 }
/*#team_profile img
{
    width: 100%;
    height: auto;
    vertical-align: 6px;
    border-style: solid;
    border-width: thick;
    border-radius: 50%;
    margin-top: 5%;
}*/
/*#team_profile img:hover
{
    filter: invert(10%) drop-shadow(4px 4px 4px black);;
}*/
/*#team_profile a
{
    text-align: center;
    margin: -5% 30% 5% 30%;
    !*margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    margin-bottom: 5%;*!
    float: left;
    font-family: 'Arimo', cursive;
    font-size: 18px;
    color: #000;
    font-weight: bolder;
    letter-spacing: 3px;
}*/
div.copyright
{
    background-color: #000;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 1.3px;
}
.copyright p
{
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Arimo', 'Arvo', serif;
    font-size: medium;
}