body
{
    background-color: whitesmoke;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
}
.container-fluid
{
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}
#container-7
{
    background-color: #4d4d4d;
}
#container-5
{
    background-color: white;
}
#signup-heading h1
{
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Raleway', 'Satisfy', 'Dancing Script', cursive;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    color: whitesmoke;
}
#sign-up
{
    margin-top: 40px;
    margin-bottom: 120px;
}

.form-control
{
    border-radius: 1px;
    font-size: 18px;
}
button
{
    font-family: 'Raleway', 'Satisfy', 'Dancing Script', cursive;
}
input[placeholder]
{
    font-family: 'Raleway', 'Satisfy', 'Dancing Script', cursive;
    font-size: 15px;
}
.row
{
    line-height: 3;
}
#sign-up label
{
    text-transform: uppercase;
    margin-bottom: -6px;
    padding-bottom: 0;
    color: white;
    letter-spacing: 1.2px;
}
#container-5 h1
{
    font-family: 'Raleway', 'Satisfy', 'Dancing Script', cursive;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 36px;
    text-transform: capitalize;
    margin-top: 10%;
}
#log-in label
{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: -0px;
}
#footer p
{
    text-align: center;
    color: #000000;
    font-size: 18px;
}
.footer
{

    width:100%;
    background-color: #e6e6e6;
    margin-top: 0;
}