.container
{
    width: 100%;
}

.pre-loader
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}
#social-icon-universal span
{
    padding-top: 16px;
    position: relative;
}
#social-icon-universal span.fa-facebook
{
    color: #3b5998;
}
#social-icon-universal span.fa-instagram
{
    color: #c13584;
}
#social-icon-universal span.fa-twitter
{
    color: #1da1f2;
}
a
{
    font-family: 'Raleway','Open Sans', 'cursive';
    font-size: medium;
    letter-spacing: 1.2px;
    text-decoration: none;
}
a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}
.navbar
{
    width: 100%;
    height:auto;
    z-index: 99;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    border-bottom:solid 2px rgba(255,255,255,0.3);
}
.shrink
{
    display: block;
    background-color: lightgray;
    transition: all 1s ease-in-out;
}
.nav-info
{
    float: right;
}

#navigation li a
{
    color: white;
    opacity: 1;
    transition: all 0.6s ease-in;
    font-size: small;
    font-weight: 800;
    text-align: center;
}
#navigation li a:hover
{
    color: black;
    border-bottom: 3px solid cornflowerblue;
    opacity: 1.0;
    font-weight: 900;
    z-index: 999;
    background-color: transparent;
}
#navigation li a:active
{
    background-color: #ffffff;
    color: #000;
}
span
{
    color: whitesmoke;
}

span.after_shrink
{
    color: #000;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Open Sans', 'Ubuntu', 'Arvo', serif;
    word-spacing: 4px;
    letter-spacing:2px;
    margin-right: 1%;
    text-transform: capitalize;
}
span#toggle-icon
{
    color: black;
}
#Slider-container
{
    padding:0;
}
#Slider_div img
{
    width:100%;
    height: auto;
    opacity: 1;
}
div h1.status
{
    font-family: 'Raleway','Satisfy','Dancing Script', cursive;
    font-size: 48px;
    margin-bottom: 150px;
    background-color: rgba(0,0,0,0.4);
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 8px;
    font-weight: 700;
}
span.status
{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Nunito','Satisfy','Dancing Script', cursive;
}
.carousel .carousel-indicators li
{
    background-color: transparent;
    width:10px;
    height:10px;
}
.carousel .carousel-indicators li.active
{
    background-color: white;
    width:10px;
    height:10px;
}
.carousel-caption span.fa-facebook,.carousel-caption span.fa-instagram
{
    width:40px;
    padding: 6px;
    border-radius: 6px;
}
.fa-facebook
{
    color: #3b5998;
}
.fa-facebook:hover
{
    background-color: transparent;
    color: #fff;
}
.fa-instagram
{
    color: #c13584;
}
.fa-instagram:hover
{
    background-color: transparent;
    color: white;
}
#team
{
    background-color: #FCFCFC;
    width:100%;
    padding-left: 0;
    padding-right: 0;
}
#team-info{
    padding-left: 0;
    padding-right: 0;
}
#team-info img,#coordinator-info img
{
    box-shadow: 0 0 10px 2px cornflowerblue;
    transition: all 0.6s ease-in-out;
}
#team-info img:hover,#coordinator-info img:hover
{
    border-style: outset;

}
#coordinator-info
{
    padding-bottom: 4%;
}
#heading-team h1,#heading-coordinator h1
{
    text-align: center;
    padding-bottom:40px;
    font-family: 'Nunito', cursive;
    letter-spacing: 6px;
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
    color: cornflowerblue;
}

#team-detail
{
    text-align: center;
    margin-top: 40px;
}
#team-detail h1,#coordinator-info h1
{
    font-family: 'Nunito', 'Ubuntu', 'Arvo', 'Open Sans', serif;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 2.5px;
    line-height: 0;
    color: #000;
}
#team-detail span
{
    font-family: 'Ubuntu', 'Arvo', 'Open Sans', serif;
    font-size: 1.2em;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
#team-detail p
{
    font-family: 'Nunito', 'cursive';
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: none;
    color: #000;
    width: 100%;
    padding-bottom: 60px;
    opacity:1;
}
#team-detail img,#coordinator-info img
{
    width:250px;
    height: 250px;
}
#team-detail img:hover
{
    filter: grayscale(100%);
}
#about
{
    font-size: large;
    word-spacing: 2px;
    padding-bottom: 40px;
    padding-right: 0;
    padding-left:0;
    color: #000;
}
#about h1
{
    padding-bottom: 10px;
    font-family: 'Nunito', cursive;
    letter-spacing: 6px;
    font-weight: bolder;
    font-size: 2.6em;
    text-align: center;
    text-transform: capitalize;
    color: cornflowerblue;
}
#about-status
{
    font-family: 'Nunito', monospace;
    text-align: center;
    font-size: 25px;
}
span.short-disp
{
    color: #000;
}
#what-we-love-to-do
{
    width:100%;
    /*padding-bottom: 80px;*/
}
#what-we-love-to-do .row
{
    position: relative;
}
.recycling-holder,.heartbeat-holder,.empowerment-holder,.awareness-holder
{
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
#div-1-front:hover
{
    background-color: darkslategray;
}
#div-2-front:hover
{
    background-color: lightgreen;
}
#div-3-front:hover
{
    background-color: darkslategray;
}
#div-4-front:hover
{
    background-color: indianred;
}
#div-1-front
{

    background-color: #fc7f0c;
    height:250px;
    position: relative;
    transition: all 0.5s ease-in;
}
#div-1-back
{
    background-color: transparent;
}
#div-1-back,#div-2-back,#div-3-back,#div-4-back
{
    display: none;
}
#div-1-back #div-1,#div-2-back #div-2,#div-3-back #div-3,#div-4-back #div-4
{
    font-family: "Nunito", cursive;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
}
#div-2-front
{
    background-color: #ffc000;
    height: 250px;
    position: relative;
    transition: all 0.5s ease-in;
}
#div-3-front
{
    background-color: #337ab7;
    height:250px;
    position: relative;
    transition: all 0.5s ease-in;
}
#div-4-front
{
    background-color: #474747;
    height: 250px;
    position: relative;
    transition: all 0.5s ease-in;
}
#div-1-front:hover
{
    animation-name: A6;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
}
#div-2-front:hover
{
    animation-name: A8;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
}
#div-3-front:hover
{
    animation-name: A10;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
}
#div-4-front:hover
{
    animation-name: A12;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
}
#div-1-front span,#div-2-front span,#div-3-front span,#div-4-front span
{
    margin-left: 42%;
    margin-right: 42%;
    display: block;
    margin-top: 35px;
    color: white;
}
#div-1-front span
{
    color: forestgreen;
}
#div-2-front span
{
    color: red;
}
#div-4-front span
{
    color: cornflowerblue;
}
#div-1-front span:hover
{
    animation-name: A1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
}
#div-2-front span:hover
{
    animation-name: A2;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
#div-4-front span:hover
{
    animation-name: A4;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
#div-1-front p,#div-2-front p,#div-3-front p,#div-4-front p
{
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    margin-top: 20px;
    letter-spacing: 1.2px;
}
#event-highlights
{
    opacity:1;
}
#event-highlights h1,#spread-love h1,#reach-us h1,#what-we-love-to-do h1
{
    text-align: center;
    font-family: 'Nunito', cursive;
    font-weight: bolder;
    padding-top: 5%;
    color: cornflowerblue;
    word-spacing: 1.8px;
    text-transform: capitalize;
    font-size: 3em;
}
#what-we-love-to-do h1
{
    padding-top: 0;
}
.view img
{
    width:100%;
    height: auto;

}
.event-name
{
    font-size: 30px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
}
.event-description
{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    line-height: normal;
}
.join-us
{
    background: url("../images/back-gnd2.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height:auto;
    width: 100%;
    color: #ffffff;
    margin-top: 5%;
}
.join-us h1
{
    margin-top: 7%;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 55px;
}
.join-us h2
{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 43px;
}
.join-us button
{
    display: block;
    margin: 0 auto;
    font-family: "Nunito", cursive;
    height: 60px;
    margin-top: 3%;
    font-size: x-large;
    border-radius: 5%;
}
.join-us h4
{
    font-family: 'Nunito', 'Open Sans', 'sans-serif';
    margin-top: 5%;
    margin-bottom: 7%;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 2px;
}

#tree-event:hover,#diya_painting-event:hover,#smoke-event:hover,#article-writing-event:hover,#poster-creating-event:hover,#planting-event:hover
{
    opacity: 0.7;
    box-shadow: 0 0 10px 1px cornflowerblue;
    cursor: pointer;
    /*box-shadow: -6px -6px 5px black;*/
}


.memories
{
    /*display: flex;
    flex-direction: column;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.event_details h1
{
    color: white;
}
#spread-love h1
{
    color: cornflowerblue;
}
.help-us.container
{
    width:100%;
}
input[placeholder],textarea[placeholder]
{
    font-family: 'Raleway', 'Ubuntu', 'Arvo', 'Open Sans', serif;
    letter-spacing: inherit;
}
form
{
    margin-right: 20%;
    margin-left: 20%;
}
#reach-us h1
{
    color: cornflowerblue;
    text-align: left;
    margin-left: 3%;
}
nav.google-maps ul {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin: 4em 5em !important;
    padding: 1.5em;
    position: absolute;
    right: 0;
    text-align: left;
    width: 440px;
    z-index: 99;
}

nav.google-maps ul li strong {
    display: block;
    font-family: "Raleway", cursive;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 20px;
}
#footer p,#footer a
{
    text-align: center;
    color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    letter-spacing:1.4px;
    font-size: large;
}
.footer
{
    width:100%;
    background-color: black;

    /*margin-top: 10px;*/

}
.video-vimeo
{
    width:100%;
    height:360px;
}
.video,.detail-video
{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;

}
.detail-video h1
{
    font-size: 5.6em;
    color: coral;
}
.modal-header h4
{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
.modal-content
{
    background-color: rgba(0,0,0,0.7);
    color: white;
    height: 100%;
}
.modal-body p
{
    font-weight: 400;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}
.modal-body p button
{
    background-color: whitesmoke;
    color: #000;
}
@media only screen and (max-width: 768px) {
    #main-heading
    {
        display: none;
    }
    #logo
    {
        display: none;
    }
    #header {
        display: none;
    }
}
@media only screen and (max-width: 765px)
{
    #about-us h1
    {
       font-size: 40px;
    }
    #about-status
    {
        text-align: center;
        padding:0;
        text-transform: capitalize;
        font-size: 22px;
        margin: 0;
    }
    span.short-disp
    {
        display: none;
    }
    #nav_wrapper
    {
        display: none;
    }
}
@media only screen and (max-width: 1200px){
    .carousel-caption
    {
        display: none;
    }
    #social-icon-universal
    {
        display: none;
    }
    .nav-info
    {
        float: none;
    }
    form
    {
       margin: 0 auto;

    }
    #footer p,#footer a
    {

        font-size: medium;
    }
    #Slider_div img
    {
        width:100%;
        height: 60vh;
        opacity: 1;
    }
    .navbar-header
    {
        display: none;
    }
    .detail-video
    {
        display: none;
    }
    .modal-body p
    {
        font-weight: 400;
        font-family: "Nunito", Helvetica, Arial, sans-serif;
        font-size: medium;
        text-align: center;
    }
}
#heading_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    padding-bottom: 10px;
}