body,html {
    height: 100%;
    background-color: whitesmoke;
    margin: 0px;
}
a
{
    font-family: 'Raleway','Open Sans', 'cursive';
    font-size: medium;
    letter-spacing: 1.2px;
}
.navbar
{

    width: 100%;
    height:auto;
    top: 0;
    border-radius: 0%;
    z-index: 99;
    position: fixed;
    background-color: transparent;
/*    box-shadow: 0 0 10px 0 black;*/
}
.shrink {
    display: block;
    background-color: lightgray;
    transition: all 1s ease-in-out;
}
.nav-info
{
    float: right;
}
#navigation li a
{
    color: white;
    opacity: 1;
    transition: all 0.6s ease-in;
    font-size: smaller;
    text-align: center;
}
#navigation li a:hover
{
    /*background-color: #82B541;*/
    color: black;
    border-bottom: 3px solid cornflowerblue;
    opacity: 1.0;
    font-weight: 900;
    z-index: 999;
    background-color: transparent;
}
#navigation li a:active
{
    background-color: #ffffff;
    color: #000;
}
span
{
    color: whitesmoke;
}
span.after_shrink
{
    color: #000;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Open Sans', 'Ubuntu', 'Arvo', serif;
    word-spacing: 4px;
    letter-spacing:2px;
    margin-right: 1%;
    text-transform: capitalize;
}
span#toggle-icon
{
    color: black;
}
#heading
{
    margin-top: 53px;
    padding: 0;
    height: 55vh;
    background-image: url("../images/Team_Profile/IOE_le.jpg");
    background-position: center;
    background-size: 100%;

    /*background-position: 100% 100%;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}
#heading div h1
{

    text-align: center;
    font-weight: bolder;
    padding-top: 8%;
    padding-bottom: 8%;
    font-family: 'Raleway', serif;
    font-size: 4em;
    letter-spacing: 1.5px;
    color: white;
}
#team_profile
{
    margin: 4% 6% 6% 6%;
}
.dev-sec
{
    margin-top: 2%;
}

h1,.write-up
{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: large;
}
h1
{
    font-size: x-large;
    font-weight: bold;
}
h2
{
    font-size: large;
    font-weight: bold;
}
div.copyright
{
    background-color: #000;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 1.3px;
}
.copyright p
{
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Arimo', 'Arvo', serif;
    font-size: medium;
}
.background-details
{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    font-family: 'Nunito', 'Satisfy', 'Dancing Script', cursive;
    height: 20%;
    width: 90%;
    color: white;
    bottom:10px;
}
img.lazy {
    width: 100%;
    height: auto;
    background-image: url('../images/team-gif.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: 6px;
    margin-top: 10%;
    box-shadow: 0 0 5px 2px cornflowerblue;
    transition: all 0.6s ease;
}
img.lazy:hover
{
    filter: grayscale(0.7);
}
.background-details h4
{
    display: block;
    font-size: x-large;
    font-weight: 500;
    color: white;
}
a,a:hover
{
    color: white;
    font-size: large;
}
.footer
{
    width:100%;
    background-color: black;
    font-family: "Raleway", cursive;
    /*margin-top: 10px;*/

}

a:hover
{
    text-decoration: none;
}
@media(max-width: 768px)
{
    .navbar
    {
        display: none;
    }
    .heading
    {
        top:0;
        margin-top: 0;
        display: none;
    }
}